<% provide(:title, @taxon.name)%>
<%= render partial: 'potepan/shared/light_section' , locals: { name: @taxon.name } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'potepan/shared/taxon' %>
        <%= render partial: 'potepan/shared/price' %>
        <%= render partial: 'potepan/shared/color' %>
        <%= render partial: 'potepan/shared/size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: "filter_area", locals: { category: @taxon }%>
        <% if @display == "grid" %>
          <div class="row">
            <%= render partial: "grid", collection: @products, as: :product %>
          </div>
        <% else %>
          <div class="row productListSingle">
            <%= render partial: "list", collection: @products, as: :product %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render partial: 'potepan/shared/under_logo' %>
